<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqa-2n1twgen3kaRXmPfGm6HE3Gc2wo-c</string>
	<key>GCM_SENDER_ID</key>
	<string>683706783074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TuranTalayhan.CalendarApp</string>
	<key>PROJECT_ID</key>
	<string>calendarapp-35b0e</string>
	<key>STORAGE_BUCKET</key>
	<string>calendarapp-35b0e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683706783074:ios:a2a5cbf26d4211fd01083b</string>
</dict>
</plist>